@font-face {
    font-family: 'undergroundregular';
    src: url('../police/underground-webfont.eot');
    src: url('../police/underground-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/underground-webfont.woff2') format('woff2'),
         url('../police/underground-webfont.woff') format('woff'),
         url('../police/underground-webfont.ttf') format('truetype'),
         url('../police/underground-webfont.svg#undergroundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.remonter {
	position: fixed;
	display: inline-block;
	border: 5px white ridge;
	border-radius: 10px;
	background-image: url("../Image/paper.PNG");
	margin-top: 10px;
	width: 14%;
	text-align: center;
}

.remonter a {
	color: white;
	text-decoration: bold;
	font-size: 20px;
}

header{
	border: 5px white ridge;
	text-align: center;
	font-family:BaskervilleOld;
	color: black;
	background-image: url("../Image/paper.png");
}

body
{
	background-image: url("../Image/black.PNG");
	background-repeat: repeat;
	margin: 0;
}

nav{
	display: inline-block;
	border: 5px white ridge;
	border-radius: 10px;
	width:15%;
	margin-top:50px;
	margin-left: 0.5%;
	background-image: url("../Image/paper.png");
	vertical-align:top;
	position:fixed;
}



section{
	display: inline-block;
	border: 5px white ridge;
	border-radius: 10px;
	padding-left:20px;
	padding-bottom:20px;
	margin-top:50px;
	margin-left: 17%;
	width :80%;
	background-image: url("../Image/paper.png");
	vertical-align:top;
}

article{
	font-family:"Baskerville Old Face";
	font-size: 20px;
	padding-top:20px;
	padding-right:20px;
}
.image{
	margin: auto;
	width: 100%;
}
.titre{
	text-align: center;
	font-size: 30px;
	font-family:"Baskerville Old Face";
	margin-bottom:50px;
}

.corps{
	text-align:left;
}

.bouton1{
	text-align: right;
	font-size: 15px;
}
.citation{
	font-style: italic;
	text-align: center;
}
footer{
	border:2px white solid;
	width:81.5%;
	text-align:center;
	border-radius: 20px;
	background-image: url("../Image/paper.png");
	margin-left:17%;
	margin-top: 50px;
}
.sources{
	margin-left: auto;
    margin-right: auto;
    width: 6em;
}

a{
	text-decoration:none;
	color:black;
}
a:hover{
	text-decoration:underline;
	color: red;
}

ul{
	list-style-type:square;
	padding-left:20px;
}

li{
	margin-bottom:5px;
	list-style-type: square;
}

footer li{
	list-style-type:none;
}

footer ul.links li a{
  font-weight: bold;
  font-size: 14px;
}

table
{
    border-collapse: collapse;
}
td, th
{
    border: 3px solid rgb(200, 173, 127);	
	border-radius:20px;
}

@media screen and (max-width: 1024px)
{
	.remonter {
		display: none;
	}

	nav {
		margin-top: 2%;
		display: block;
		border-radius: 15px;
		width: 98%;
		position: static;
		text-align: center;
	}

	nav ul li {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 3%;
		margin-right: 3%;
		vertical-align: top;
	}

	nav ul li ul li {
		display: block;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	nav ul {
		margin: 0;
	}

	h4 {
		margin-bottom: 0;
	}

	section {
		margin-top: 2%;
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
		width: 99%;
		margin-left: 0;
	}

	article {
		padding-left: 10px;
	}


	footer {
		margin-left: 0;
		margin-right: 0;
		width: 99.5%;
	}
}


@media screen and (max-width: 666px)
{
	nav ul li {
		margin-right: 1%;
		margin-left: 1%;
	}
}



